service: ci-demo-${self:custom.${opt:ciname, env:CINAME}.ciName}

custom:
  gitlab:
    ciName: gitlab
  circleci:
    ciName: circleci
  # === typical sections for stage-based configuration ===
  # dev:
  # staging:
  # prod:

provider:
  name: aws
  runtime: nodejs8.10
  stage: dev
  region: us-east-1

environment:
  CI_NAME: ${self:custom.${opt:ciname, env:CINAME}.ciName}

functions:
  hello:
    handler: handler.hello

resources:
 Resources:
   NewResource:
     Type: AWS::S3::Bucket
     Properties:
       BucketName: my-new-bucket-${self:custom.${opt:ciname, env:CINAME}.ciName}-${opt:stage}
